body{
  background: rgba(245, 245, 245, 1);
  font-family: helvetica;
}
/*// to fix visibility for the body content form on post.html*/
.form-group{
  margin-bottom: 45px;
}

a {
	color: #fb561f;
}

a:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.main-nav {
	position: relative;
	background-color: white;
	height: 3.5em;
    z-index: 100;
}

.main-nav-logo {
	position: absolute;
	left: 0;
}

.main-nav-logo h1 {
    margin: 0 0 0 1em;
    padding: 0;
    font-family: futura;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .175em;
    line-height: 2.5em;
    font-weight: bold;
    // color: #a7ae63;
    color: black;
}

.main-nav-links {
	position: absolute;
	right: 0;
}

.main-nav-links h5 {
    display: inline-block;
    padding: 1em 1em;
    margin: 0.5em;
}

.main-container {
	max-width: 60em;
	margin: 3.5em auto;
}

.dashboard-nav-container {
    position: fixed;
    display: inline-block;
    width: 15em;
    background-color: white;
    top: 0;
    left: 0;
    padding: 5em 1em;
    height: 100vh;
}

.dashboard-nav {
    list-style: none;
    padding: 0;
}

.dashboard-nav-link {
    cursor: pointer;
    padding: .5em 0;
    margin: 0;
}

.dashboard-view-container {
    display: inline-block;
    position: absolute;
    left: 17.5em;
}

#installConfirm {
    color: #fb561f;
    font-size: 1.25em;    
}

#installedPluginsListItem {
    padding: .5em 0;
    width: 35em;
    position: relative;
    border-bottom: solid rgba(255, 255, 255, .5) 1px;
}
#installedPluginsListItem button{
    right: 0;
    top: 0;
    position: absolute;
}

.content-page-post {
	background-color: white;
	padding: 0.75em 1.5em;
	margin: .5em auto;
}

.content-page-post h4 {
    font-size: 1.05em;
    /* text-transform: uppercase; */
    letter-spacing: .05em;
    font-weight: normal;
}

.content-page-post h4 a {
    color: black;
}

.content-page-post p {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: .015em;
}

.comment-box  {
    display: inline-block;
    width: 75% !important; 
}



