body{
  background: rgba(245, 245, 245, 1);
  font-family: helvetica;
}
/*// to fix visibility for the body content form on post.html*/
.form-group{
  margin-bottom: 45px;
}

a {
	color: #ef4b2b;
}

a:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.main-nav {
	position: relative;
	background-color: white;
	height: 3.5em;
}

.main-nav-logo {
	position: absolute;
	left: 0;
}

.main-nav-logo h1 {
    margin: 0 0 0 1em;
    padding: 0;
    font-family: futura;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .175em;
    line-height: 2.5em;
    font-weight: bold;
    // color: #a7ae63;
    color: black;
}


.main-nav-links {
	position: absolute;
	right: 0;
}

.main-nav-links h5 {
    display: inline-block;
    padding: 1em 1em;
    margin: 0.5em;
}

.main-container {
	max-width: 60em;
	margin: 3.5em auto;
}

.dashboard-plugin {
    display: none;
}

.content-page-post {
	background-color: white;
	padding: 0.75em 1.5em 0;
	margin: .5em auto;
}

.content-page-post h4 {
    font-size: 1.25em;
    /* text-transform: uppercase; */
    letter-spacing: .05em;
    font-weight: bold;
    margin-bottom: .5em;
}

.content-page-post p {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: .015em;
}

.comment-box  {
    display: inline-block;
    width: 75% !important; 
}



